.callout:is([data-callout-metadata="noicon"]) .callout-icon {
  display: none;
}

.theme-dark .markdown-source-view.mod-cm6 .callout {
    background-color: #2b2b2b;
}

.theme-dark .callout-content {
    background-color: #2b2b2b;
}

.theme-light .markdown-source-view.mod-cm6 .callout {
    background-color: #e8e3c4;
}

.theme-light .callout-content {
    background-color: #e8e3c4;
}

/*

HOW TO USE:
> [!done|noicon] Title
> Lorem, ipsum dolor sit amet consectetur, adipisicing elit.

OR:
> [!|noicon]
> Lorem, ipsum dolor sit amet consectetur, adipisicing elit.
*/

/*
Valójában jó a sajátom is, csak az ikont display-none-ra kell nyomni, nem?
És hol van a másik, ahol színeket állítottam?
*/