.callout[data-callout*=lasdmeg] {
    --callout-icon: lightbulb;
    --callout-color: inherit;
    font-size: 80%;
    line-height: 1.2em;
    
    /* Fix from: https://chatgpt.com/c/6a341ded-ee38-83eb-a9d7-88a55b997d9d */
    padding: 8px 8px 8px 30px;
    
    border: none;
    /* text-align: justify; */ /*Separate css handles this for ALL callouts*/
}

/* Hide fold icon */
.callout[data-callout*=lasdmeg] .callout-fold .svg-icon {
    display: none;
}