/* Must add `hungarian-callouts` to cssclasses for this to work. Global method messed up other callouts. */

.hungarian-callouts .callout-title-inner {
    text-indent: -9999px;
    position: relative;
}

.hungarian-callouts .callout[data-callout="check"] .callout-title-inner::after,
.hungarian-callouts .callout[data-callout="important"] .callout-title-inner::after,
.hungarian-callouts .callout[data-callout="fail"] .callout-title-inner::after,
.hungarian-callouts .callout[data-callout="note"] .callout-title-inner::after,
.hungarian-callouts .callout[data-callout="question"] .callout-title-inner::after,
.hungarian-callouts .callout[data-callout="example"] .callout-title-inner::after {
    content: attr(data-title);
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: inline;
    white-space: nowrap;
}

.hungarian-callouts .callout[data-callout="check"] .callout-title-inner::after {
    content: "Tudd";
}

.hungarian-callouts .callout[data-callout="important"] .callout-title-inner::after {
    content: "Fontos";
}

.hungarian-callouts .callout[data-callout="fail"] .callout-title-inner::after {
    content: "Figyelem";
}

.hungarian-callouts .callout[data-callout="note"] .callout-title-inner::after {
    content: "Jegyzet";
}

.hungarian-callouts .callout[data-callout="question"] .callout-title-inner::after {
    content: "Kérdés";
}

.hungarian-callouts .callout[data-callout="example"] .callout-title-inner::after {
    content: "Példa";
}