<aside id="floating-control" class="theme-switch-container">
    <a id="emailme" href="mailto:zoltndor@yahoo.co.uk?subject=Kapcsolat: {{title}}&body=Hivatkozás: {{permalink}}" class="theme-btn" title="Írjon nekem">
        <i icon-name="mail-plus" aria-hidden="true"></i>
    </a>
    <div class="theme-btn light" onclick="setTheme('light')" title="Világos mód">
        <i class="svg-icon" icon-name="sun" aria-hidden="true"></i>
    </div>
    <div class="theme-btn dark" onclick="setTheme('dark')" title="Sötét mód">
        <i class="svg-icon" icon-name="moon" aria-hidden="true"></i>
    </div>
    <div class="theme-btn auto" onclick="setTheme('auto')" title="Automatikus mód">
        <i class="svg-icon" icon-name="sun-moon" aria-hidden="true"></i>
    </div>
</aside>
